@use "@/styles/abstracts" as *;

.top-bar__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
  list-style: none;
  padding: 0.375rem 0;

  & .top-bar__item {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: $color-grey;
    font-size: 0.75rem;
    font-weight: 500;

    & strong {
      color: $color-purple;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: $md) {
  .top-bar__list {
    flex-direction: row;
    justify-content: center;
    gap: clamp(1rem, 7vw, 7.5rem);
  }
}
